<!-- <p>assignment1 works!</p> -->
<div id="page">
    <div id="main">
        <b>New Comment</b>
        <p>Name :<input [(ngModel)]="name"></p>
        Comments : <textarea rows="5" cols="10" input [(ngModel)]="comment" id="cmbox"></textarea>
        <div><br>
            <button (click)="doComment()" id="btncomment">Comment</button>
            <button (click)="doClear()" id="btnclear">Clear</button>
        </div>
        <br><br><BR>
        <!-- <div id="showpic">
            <img src="assets/nct.jpg" width="300px" height="250px" id="showpic">
        </div> -->
    </div>
    <div id="show">
        <div id="cen">
            <b>Comments</b>
            <div *ngFor="let comment of commentList" id="showcom">
                <app-comment [comment]="comment" id="cm"></app-comment>
            </div>
        </div>
    </div>

</div>

<!-- {{ horaService.number}} -->