#main {
    border-style: double;
    text-align: center;
    border-radius: 25px;
    width: 300px;
    height: 250px;
    float: left;
    padding: 10px;
    margin-top: 30px;
}
#showpic {
    border-style: none;
    text-align: center;
    border-radius: 25px;
    width: 300px;
    height: 250px;
    float: left;
    padding: 10px;
    margin-left: -15px;
}

#inputmain {
    text-align: center;
    background-color: #ede8e3
}

#show {
    margin-left: 60px;
    border-style: double;
    text-align: center;
    border-radius: 25px;
    width: 700px;
    height: auto;
    float:left;
    padding:10px;
    background-color: #ede8e3;
    margin-top: 30px;
    
}

#showcom {
    border-style: double;
    text-align: center;
    border-radius: 25px;
    width: 670px;
    height: 100px;
    margin-top: 10px;
    background-color: #c7b6a7;
}

#cen{
    text-align: center;
}

#btncomment {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#btnclear {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#cmbox {
    resize: horizontal;
    width: 180px;
    height: 50px;
}

#cm {
    font-style: italic;
    text-align: left;
}

b{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}