<div id="heading">
    <b>Go to Position</b>
    <br><br>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)]="latitude">   
        <label for="float-input">Latitude</label>
    </span>
    <br>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)]="longtitude"> 
        <label for="float-input">Longtitude</label>
    </span>
    <br>
    <button pButton type="button" label="Locate" (click)="onClickLocate()"></button>
</div>
