#heading{
    border-style: double;
    text-align: center;
    border-radius: 25px;
    float: left;
    width: 30%;
    padding: 15px;
    margin-left: 70%;
    margin-top: 30px;
}
b{
    text-align: left;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.display-state{
    height: 100px;
    width: 1000px;
}