/* html{
    background-color: #ede8e3;
}
.router{
    background-color: #ede8e3;
} */
body {
    height: 1650px;
    margin-top: 10px;
    padding: 30px;
    background-size: cover;
    font-family: sans-serif;
    background-color: #ede8e3;
    width: 1200px;
}

header {
    background-color: #4a3c2f;
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: blanchedalmond;
    text-decoration: none;
}
#cm{
    font-size: medium;
}
