<!-- <p>Hello</p>

<div *ngIf="isShow">
    <div *ngFor="let color of colors">
        <app-cats [color]="color"></app-cats>
    </div>
</div>
<br>
<br>
<br>
{{ name }}
<input [(ngModel)]="name">
<button (click)="name='Fahfar'">Name = Fahfar</button> -->
<!-- <p>Menu</p> -->
<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/assignment1">Assignment1</a>
            </li>
            <li>
                <a routerLink="/assignment2">Assignment2</a>
            </li>
            <li>
                <a routerLink="/assignment3">Assignment3</a>
            </li>
            <li>
                <a routerLink="/assignment4">Assignment4</a>
            </li>
            <li>
                <a routerLink="/assignment5">Assignment5</a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <router-outlet></router-outlet>
</body>