#main {
    border-style: double;
    text-align: center;
    border-radius: 25px;
    width: 350px;
    height: 350px;
    padding: 10px;
    margin-left: 400px;
    margin-top: 60px;
}

#check {
    background-color: #6a5542;
    border: none;
    color: blanchedalmond;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

p{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#colum{
    text-align: center;
    padding-bottom: 0%;
}

#star{
    font-size: 50px;
}