    <div id="main">
    <div class="column">
        <p>Name:</p>
        <input class="input" style="width: 300px; height: 40px;" [(ngModel)]="name"> <br><br>
        <button class="btnCheck" (click)="check()" id="check">Check</button>
        <br>
        <h3>Result</h3>
        <div>{{horaService.sum}}</div>
        <!-- <div *ngFor="let star in star">
            <img src="assets/star(2).png">
        </div> -->
        <div *ngIf="horaService.sum == 1" id="star">⭐</div>
        <div *ngIf="horaService.sum == 2" id="star">⭐⭐</div>
        <div *ngIf="horaService.sum == 3" id="star">⭐⭐⭐</div>
        <div *ngIf="horaService.sum == 4" id="star">⭐⭐⭐⭐</div>
        <div *ngIf="horaService.sum == 5" id="star">⭐⭐⭐⭐⭐</div>
    </div>
    <br><br>
</div>