<div>
    <div id="headingg">
        <app-locate (locator)="onlocatorClick($event)"></app-locate>
    </div>
    <div class="divMap" #divMap></div>
    <!-- <div id="viewDiv"></div>
    <div id="basemapGalleryDiv"></div> -->
</div>
<!-- <app-table></app-table> -->
<!-- <div class="display-state">
    <div *ngFor="let state of states" (click)="doStateClick(state)">{{ state }}</div>
</div> -->