.divMap {
    border-style: none;
    text-align: center;
    border-radius: 0%;
    width: 65%;
    height: 500px;
    float: left;
    padding: 10px;
    position: absolute;
    margin-top: 30px;
}
/* .display-state{
    height: 100px;
    width: 1000px;
} */