.state {
    border-style: double;
    text-align: center;
    border-radius: 25px;
    float: left;
    width: 30%;
    padding: 15px;
    margin-left: 50%;
}

.col-sm-4 {
    margin-right: 600px;
}

.col-sm-8 {
    margin-top: 30px;
    margin-left: 700px;
}

table,
th,
td {
    border-style: none;
    text-align: center;
    border-radius: 0%;
    border: 1px solid #B99976;
    border-collapse: collapse;
    padding: 5px;
    width: 450px;
}

table tr:nth-child(odd) {
    background-color: #B99976;
}

table tr:nth-child(even) {
    background-color: #e9e0d8;
}
#tablescroll{
    width: 450px;
    height: 500px;
    overflow: scroll;
}