<div class="row">
    <div class="col-sm-4">
        <app-table></app-table>
    </div>
    <div class="col-sm-8" id="state">
        <div id="tablescroll">
        <table>
            <tr>
                <th>Sub Regions</th>
                <th>State_Name</th>
                <th>state_abbr</th>
            </tr>
            <tr *ngFor=" let state of states" (click)="doStateClick(state.state_name)">
                <td>{{state.region}}</td>
                <td>{{state.state_name}}</td>
                <td>{{state.abbr}}</td>
            </tr>
        </table>
    </div>
</div>
</div>